name: Firebase Deploy

on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
            java-version: '17'
            distribution: 'temurin' 
            cache: gradle

      # Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0'

      # Install dependencies
      - name: Install dependencies
        run: |
            flutter clean
            flutter pub get
            flutter get-l10n

    # Setup Fastlane
      - name: Setup Ruby and Fastlane
        uses: ruby/setup-ruby@v1
        with:
            ruby-version: '3.0'

      - name: Install Fastlane
        run: |
          gem install fastlane
          
      - name: Install Fastlane Firebase App Distribution plugin
        working-directory: android
        run: fastlane add_plugin firebase_app_distribution

      # - name: Build APK
      #   run: flutter build apk
      #   env:
      #     STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
      #     KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
      #     KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      #     STORE_FILE: ./keystore.jks

      # - name: Make gradlew executable
      #   run: chmod +x android/gradlew

      # Deploy to Firebase App Distribution
      - name: Deploy to Firebase App Distribution
        run: |
          cd android
          fastlane beta
      