name: Flutter CI/CD with Fastlane

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    # Set up Flutter
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ matrix.flutter-version }}

    # Install dependencies
    - name: Install dependencies
      run: |
        flutter pub get

    # Set Fastlane environment variables
    - name: Set Fastlane environment variables
      run: |
        echo "FASTLANE_SKIP_UPDATE_CHECK=true" >> $GITHUB_ENV
        echo "FASTLANE_DISABLE_COLORS=true" >> $GITHUB_ENV
        echo "FASTLANE_LOG_LEVEL=error" >> $GITHUB_ENV
        echo "FASTLANE_UI=non-interactive" >> $GITHUB_ENV

    # Setup Ruby environment for Fastlane
    - name: Setup Ruby and Fastlane
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'

    # Install Fastlane
    - name: Install Fastlane
      run: |
        gem install fastlane

    # Install Firebase App Distribution plugin (if necessary)
    - name: Install Fastlane Firebase App Distribution plugin
      run: |
        cd android
        fastlane add_plugin firebase_app_distribution

    # Ensure that Fastlane can find your Fastfile
    - name: Ensure Fastlane Fastfile
      run: |
        ls fastlane  # Make sure the Fastfile exists

    # Run Fastlane Beta
    - name: Run Fastlane Beta
      run: |
        fastlane beta
