name: Flutter CI/CD with Fastlane

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ matrix.flutter-version }}

    - name: Install dependencies
      run: |
        flutter pub get

    # Deploy to Firebase App Distribution
    - name: Deploy to Firebase App Distribution
      run: |
        cd android
    - name: Install Fastlane Firebase App Distribution plugin
      working-directory: android
      run: fastlane add_plugin firebase_app_distribution
    - name: Running fastlane
      run: |
        fastlane beta

